In [2]:
import pandas as pd
import utils
import json

In [3]:
data_path = r'../Data/data_practicephase_cleardev/data_practicephase_cleardev/'

In [4]:
data_list = []

for current_dataset in ['ArMIS','MD-Agreement','ConvAbuse', 'HS-Brexit']:                         # loop on datasets
  for current_split in ['train']:                                                                 # loop on splits, here only train 
    current_file = data_path+current_dataset+'_dataset/'+current_dataset+'_'+current_split+'.json'     # current file 
    data = json.load(open(current_file,'r', encoding = 'UTF-8'))                                  # load data 
    for item_id in data:                                                                          # loop across items for the loaded datasets                                                                                                  
      text = data[item_id]['text']        
      text = text.replace('\t',' ').replace('\n',' ').replace('\r',' ')                           # remove tabs and similar from text, so we can have everything on a line 
      data_list.append([current_dataset, current_split, item_id, data[item_id]['lang'], str(data[item_id]['hard_label']), str(data[item_id]['soft_label']["0"]), str(data[item_id]['soft_label']["1"]), str(data[item_id]['number of annotations']),  str(data[item_id]['annotations']), text])
df = pd.DataFrame(data_list, columns=['Dataset','Split','Id','Lang','Hard_label','Soft_label_0','Soft_label_1', 'NumAnnotations','Annotations', 'Text'])

In [5]:
df

,Dataset,Split,Id,Lang,Hard_label,Soft_label_0,Soft_label_1,NumAnnotations,Annotations,Text
0,ArMIS,train,1,ar,0,1.0,0.0,3,"0,0,0",النسويه يعني نصير رجل قولتك وبعدين اذا الوحده ...
1,ArMIS,train,2,ar,1,0.33,0.67,3,"1,0,1",هراء النسويات عمان والمتستر بتضخيم حالات العنف...
2,ArMIS,train,3,ar,1,0.0,1.0,3,"1,1,1",بسبب انتشار الفكر النسوي القد ودعوة النسويات ا...
3,ArMIS,train,4,ar,0,1.0,0.0,3,"0,0,0",وقال تعالى الن الل احا الل تأملي هذة الأيه
4,ArMIS,train,5,ar,0,0.67,0.33,3,"0,0,1",يعني السعوديات صايعات يتنقلو واحد للثاني
...,...,...,...,...,...,...,...,...,...,...
10426,HS-Brexit,train,780,en,0,1.0,0.0,6,"0,0,0,0,0,0",#Brexit has to happen there is no way you can ...
10427,HS-Brexit,train,781,en,0,1.0,0.0,6,"0,0,0,0,0,0",A foreigner we've neither heard of nor voted f...
10428,HS-Brexit,train,782,en,0,1.0,0.0,6,"0,0,0,0,0,0",The irony is we will probably now look to appo...
10429,HS-Brexit,train,783,en,0,0.5,0.5,6,"0,0,1,1,1,0","Better watch out Merkel, the German people don..."
10430,HS-Brexit,train,784,en,0,1.0,0.0,6,"0,0,0,0,0,0","#Brexit is served. In 2015, $66.4B of intl ca..."

## Hashtags

In [6]:
df_h = utils.get_hastags(df, 'Text')
df_h

,Dataset,Split,Id,Lang,Hard_label,Soft_label_0,Soft_label_1,NumAnnotations,Annotations,Text,Hashtags
0,ArMIS,train,1,ar,0,1.0,0.0,3,"0,0,0",النسويه يعني نصير رجل قولتك وبعدين اذا الوحده ...,[]
1,ArMIS,train,2,ar,1,0.33,0.67,3,"1,0,1",هراء النسويات عمان والمتستر بتضخيم حالات العنف...,[]
2,ArMIS,train,3,ar,1,0.0,1.0,3,"1,1,1",بسبب انتشار الفكر النسوي القد ودعوة النسويات ا...,[]
3,ArMIS,train,4,ar,0,1.0,0.0,3,"0,0,0",وقال تعالى الن الل احا الل تأملي هذة الأيه,[]
4,ArMIS,train,5,ar,0,0.67,0.33,3,"0,0,1",يعني السعوديات صايعات يتنقلو واحد للثاني,[]
...,...,...,...,...,...,...,...,...,...,...,...
10426,HS-Brexit,train,780,en,0,1.0,0.0,6,"0,0,0,0,0,0",#Brexit has to happen there is no way you can ...,"[Brexit, EU]"
10427,HS-Brexit,train,781,en,0,1.0,0.0,6,"0,0,0,0,0,0",A foreigner we've neither heard of nor voted f...,[brexit]
10428,HS-Brexit,train,782,en,0,1.0,0.0,6,"0,0,0,0,0,0",The irony is we will probably now look to appo...,"[ENGICL, Brexit]"
10429,HS-Brexit,train,783,en,0,0.5,0.5,6,"0,0,1,1,1,0","Better watch out Merkel, the German people don...",[Brexit]
10430,HS-Brexit,train,784,en,0,1.0,0.0,6,"0,0,0,0,0,0","#Brexit is served. In 2015, $66.4B of intl ca...",[Brexit]

In [9]:
hash_df = utils.get_hashtag_score_for_sample(df)
hash_df

,Dataset,Split,Id,Lang,Hard_label,Soft_label_0,Soft_label_1,NumAnnotations,Annotations,Text,Hashtags,hashtag_score
0,ArMIS,train,1,ar,0,1.0,0.0,3,"0,0,0",النسويه يعني نصير رجل قولتك وبعدين اذا الوحده ...,[],0.000000
1,ArMIS,train,2,ar,1,0.33,0.67,3,"1,0,1",هراء النسويات عمان والمتستر بتضخيم حالات العنف...,[],0.000000
2,ArMIS,train,3,ar,1,0.0,1.0,3,"1,1,1",بسبب انتشار الفكر النسوي القد ودعوة النسويات ا...,[],0.000000
3,ArMIS,train,4,ar,0,1.0,0.0,3,"0,0,0",وقال تعالى الن الل احا الل تأملي هذة الأيه,[],0.000000
4,ArMIS,train,5,ar,0,0.67,0.33,3,"0,0,1",يعني السعوديات صايعات يتنقلو واحد للثاني,[],0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
10426,HS-Brexit,train,780,en,0,1.0,0.0,6,"0,0,0,0,0,0",#Brexit has to happen there is no way you can ...,"[Brexit, EU]",-0.778446
10427,HS-Brexit,train,781,en,0,1.0,0.0,6,"0,0,0,0,0,0",A foreigner we've neither heard of nor voted f...,[brexit],-0.777778
10428,HS-Brexit,train,782,en,0,1.0,0.0,6,"0,0,0,0,0,0",The irony is we will probably now look to appo...,"[ENGICL, Brexit]",-0.891779
10429,HS-Brexit,train,783,en,0,0.5,0.5,6,"0,0,1,1,1,0","Better watch out Merkel, the German people don...",[Brexit],-0.783558
10430,HS-Brexit,train,784,en,0,1.0,0.0,6,"0,0,0,0,0,0","#Brexit is served. In 2015, $66.4B of intl ca...",[Brexit],-0.783558

## Emotions

In [45]:
import stanza
nlp = stanza.Pipeline('en', processors={"pos": "default", 'ner': 'conll03',"tokenize": "spacy",  }, use_gpu=True)

  0%|          | 0/10431 [07:18<?, ?it/s]
2023-01-24 16:06:31 INFO: Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES
Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.4.1.json: 193kB [00:00, 7.13MB/s]
2023-01-24 16:06:32 INFO: Loading these models for language: en (English):
===========================
| Processor    | Package  |
---------------------------
| tokenize     | spacy    |
| pos          | combined |
| lemma        | combined |
| depparse     | combined |
| sentiment    | sstplus  |
| constituency | wsj      |
| ner          | conll03  |
===========================

2023-01-24 16:06:32 INFO: Use device: gpu
2023-01-24 16:06:32 INFO: Loading: tokenize
2023-01-24 16:06:35 INFO: Loading: pos
2023-01-24 16:06:38 INFO: Loading: lemma
2023-01-24 16:06:38 INFO: Loading: depparse
2023-01-24 16:06:38 INFO: Loading: sentiment
2023-01-24 16:06:39 INFO: Loading: constituency
2023-01-24 16:06:39 INFO: Loading: ner
2023-01-24 16:06:40 INFO: Done loading processors!

In [10]:
#NRC Emotion Lexicon
emotion_df = pd.read_excel('../Data/NRC-Emotion-Lexicon.xlsx')

In [11]:
emotion_df

,English (en),Afrikaans (af),Albanian (sq),Amharic (am),Arabic (ar),Armenian (hy),Azeerbaijani (az),Basque (eu),Belarusian (be),Bengali (bn),...,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,aback,uit die veld geslaan,prapa,ተጭኗል,الى الوراء,շեղում,sanki,aback,ззаду,পশ্চাতে,...,0,0,0,0,0,0,0,0,0,0
1,abacus,abakus,numërator,abacus,طبلية تاج,անբավարարություն,abacus,abako,абака,গণনা-যন্ত্রবিশেষ,...,0,0,0,0,0,0,0,0,0,1
2,abandon,verlaat,braktis,ውጣ,تخلى,լքել,tərk et,bertan behera,адмовіцца ад,বর্জিত করা,...,0,1,0,0,0,1,0,1,0,0
3,abandoned,verlate,braktisur,ተትቷል,مهجور,լքված,tərk etdi,abandonatutako,закінуты,পরিত্যক্ত,...,0,1,1,0,0,1,0,1,0,0
4,abandonment,verlating,braktisje,ማቋረጥ,التخلي عن,հրաժարվելով,ləğv,abandono,пакіданне,বিসর্জন,...,0,1,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14177,zone,sone,zonë,ዞን,منطقة,գոտի,zona,zona,зона,মণ্ডল,...,0,0,0,0,0,0,0,0,0,0
14178,zoo,dieretuin,kopsht zoologjik,መናፈሻ,حديقة حيوان,գազանանոց,zoo,zoologiko,заапарк,চিড়িয়াখানা,...,0,0,0,0,0,0,0,0,0,0
14179,zoological,dierkundige,zoologjik,ዞኦሎጂካል,حيواني,կենդանաբանական,zooloji,zoologiko,заалагічны,প্রাণিবিদ্যাগত,...,0,0,0,0,0,0,0,0,0,0
14180,zoology,dierkunde,zoologji,ዞኦሎጂ,علم الحيوان,կենդանաբանություն,zooloji,zoology,заалогія,প্রাণিবিদ্য,...,0,0,0,0,0,0,0,0,0,0
14181,zoom,Klik op,zoom,አጉላ,تكبير,խոշորացում,zoom,zoom,зум,জুম্,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df['emotions'] = df.apply(lambda x: utils.get_emotions_for_sample(x.Lang, x.Text, emotion_df, nlp), axis=1)

In [ ]:
df.to_csv('./Data/emotions.csv', sep='\t', index=False)

## Agreement values

In [52]:
#ex. predicted percentage of 0.5 with 3 annotators
utils.mapping_percentage(0.5, 3)

0.67

In [54]:
#ex. predicted percentage of 0.1 with 2 annotators
utils.mapping_percentage(0.1, 2)

0.0

In [53]:
#ex. predicted percentage of 0.9324723 with 7 annotators
utils.mapping_percentage(0.9324723, 7)

1.0